*.o
.DS_Store
.*.swp
/env
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/files
/overlay
/*.patch
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode/
package/utils/auto-factory/
package/kernel/xspeed/nf51xx/src/nf51xx
configs/.target.cfg
rockdev/u-boot