*.o
.DS_Store
.*.swp
/env
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/files
/overlay
/*.patch
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode/
package/utils/auto-factory/
package/kernel/xspeed/nf51xx/src/nf51xx
configs/.target.cfg
feeds/freifunk.tmp
feeds/luci.tmp
feeds/packages.tmp
feeds/telephony.tmp
feeds/routing.tmp
rockdev/u-boot/uboot.img
rockdev/u-boot/rk356x_spl_loader.bin
